<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-subject-heading">Create or edit a Subject</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!subject.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="subject.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="subject.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_markes">Markes</label>
                    <input type="number" class="form-control" name="markes" id="field_markes"
                        [(ngModel)]="subject.markes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_className">Class Name</label>
                    <select class="form-control" id="field_className" name="className" [(ngModel)]="subject.className" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="classNameOption.id === subject.className?.id ? subject.className : classNameOption" *ngFor="let classNameOption of classnames; trackBy: trackClassNameById">{{classNameOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_markes">Markes</label>
                    <select class="form-control" id="field_markes" name="markes" [(ngModel)]="subject.markes" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="markesOption.id === subject.markes?.id ? subject.markes : markesOption" *ngFor="let markesOption of markes; trackBy: trackMarkesById">{{markesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
