<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-teacher-heading">Create or edit a Teacher</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teacher.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teacher.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="teacher.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="teacher.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="teacher.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_photo">Photo</label>
                    <div>
                        <img [src]="'data:' + teacher.photoContentType + ';base64,' + teacher.photo" style="max-height: 100px;" *ngIf="teacher.photo" alt="teacher image"/>
                        <div *ngIf="teacher.photo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{teacher.photoContentType}}, {{byteSize(teacher.photo)}}</span>
                            <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, teacher, 'photo', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="teacher.photo" />
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                        [(ngModel)]="teacher.photoContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
